<div class="nested-fields">
  <div class="row mb-1">
    <div class="col-md-11">
      <%= f.text_field :option, class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= link_to_remove_association "X", f, class: "btn btn-danger" %>
    </div>
  </div>
  <div id="loc" class="mt-2">
    <%= f.fields_for :level_one_conditions do |level_one_condition| %>
      <%= render 'level_one_condition_fields', f: level_one_condition %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Conditional Question', f, :level_one_conditions, class: "btn btn-success btn-sm mb-3 mt-3" %>
    </div>
  </div>
</div>