<%= form_with(model: basic_form, local: true) do |f| %>
  <% if basic_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(basic_form.errors.count, "error") %> prohibited this basic_form from being saved:</h2>

      <ul>
      <% basic_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :basic_form_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, id: :basic_form_description, class: "form-control", rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.check_box :is_multistep_form, id: :basic_form_is_multistep_form %>
    <%= f.label :is_multistep_form? %>
  </div>

  <div id="multistep_block" style="display:none;">
    <%= f.fields_for :form_steps do |form_step| %>
      <%= render 'form_step_fields', f: form_step %>
    <% end %>
    <div class="links mb-1">
      <%= link_to_add_association 'Add Step', f, :form_steps, class: "btn btn-success" %>
    </div>
  </div>

  <div id="form_steps" class="mt-3">
    <%= f.fields_for :form_steps do |form_step| %>
      <%= render 'form_step_fields', f: form_step %>
    <% end %>
    <div class="links mb-1">
      <%#= link_to_add_association 'Add Step', f, :form_steps, class: "btn btn-success" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $("#basic_form_is_multistep_form").on('change', function(){
    if ($("#basic_form_is_multistep_form").is(":checked")) {
      $("#multistep_block").show();
      $("#form_steps").hide();
    } else {
      $("#multistep_block").hide();
      $("#form_steps").show();      
    }
  });
</script>