<div id="form_blocks" class="mt-3">
  <%= f.fields_for :form_blocks do |form_block| %>
    <%= render 'form_block_fields', f: form_block %>
  <% end %>
  <div class="links mb-1">
    <%= link_to_add_association 'Add Block', f, :form_blocks, class: "btn btn-success" %>
  </div>
</div>

<div id="multiple_choices">
  <%= f.fields_for :multiple_choices do |multiple_choice| %>
    <%= render 'multiple_choice_fields', f: multiple_choice %>
  <% end %>
  <div class="links mb-1">
    <%= link_to_add_association 'Add Multiple', f, :multiple_choices, class: "btn btn-success" %>
  </div>
</div>

<div id="checkbox_questions">
  <%= f.fields_for :checkbox_questions do |checkbox_question| %>
    <%= render 'checkbox_question_fields', f: checkbox_question %>
  <% end %>
  <div class="links mb-1">
    <%= link_to_add_association 'Add Checkbox', f, :checkbox_questions, class: "btn btn-success" %>
  </div>
</div>

<div id="dropdowns">
  <%= f.fields_for :dropdowns do |dropdown| %>
    <%= render 'dropdown_fields', f: dropdown %>
  <% end %>
  <div class="links mb-1">
    <%= link_to_add_association 'Add Dropdown', f, :dropdowns, class: "btn btn-success" %>
  </div>
</div>







<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p id="notice"><%= notice %></p>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center"><%= @basic_form.name %></h4>
        </div>
        <div class="card-body">
          <p class="lead"><%= @basic_form.description %></p>
          <%= form_for :user_response, url: :collect_user_response_basic_forms, method: :post do |f| %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :basic_form_id, value: @basic_form.id %>
            <% end %>
            <% @basic_form.form_blocks.each do |form_block| %>
              <%= f.hidden_field "form_block_#{form_block.id}", value: form_block.id %>
              <div class="form-group">
                <label><%= form_block.label %></label>
                <% if form_block.field_type == "input" %>
                  <% if form_block.is_required == true %>
                    <%= f.text_field form_block.label.downcase, class: "form-control", required: true %>
                  <% else %>
                    <%= f.text_field form_block.label.downcase, class: "form-control" %>
                  <% end %>
                <% elsif form_block.field_type == "email" %> 
                  <% if form_block.is_required == true %>
                    <%= f.email_field form_block.label.downcase, class: "form-control", required: true %>
                  <% else %>
                    <%= f.email_field form_block.label.downcase, class: "form-control" %>
                  <% end %> 
                <% elsif form_block.field_type == "textarea" %>
                  <% if form_block.is_required == true %>
                    <%= f.text_area form_block.label.downcase, class: "form-control", rows: "5", required: true %>
                  <% else %>
                    <%= f.text_area form_block.label.downcase, class: "form-control", rows: "5" %>
                  <% end %>
                <% elsif form_block.field_type == "file" %>
                  <% if form_block.is_required == true %>
                    <%= f.file_field form_block.label.downcase, required: true %>
                  <% else %>
                    <%= f.file_field form_block.label.downcase %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% @basic_form.multiple_choices.each do |multiple_choice| %>
              <div class="form-group">
                <label><%= multiple_choice.question %></label>
                <% multiple_choice.mcq_options.each do |mcq| %>
                  <div class="form-group">
                    <%= f.radio_button multiple_choice.question, mcq.option %>
                    <%= f.label mcq.option %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <% @basic_form.checkbox_questions.each do |checkbox_question| %>
              <div class="form-group">
                <label><%= checkbox_question.question %></label>
                <%= f.collection_check_boxes checkbox_question.question, checkbox_question.checkbox_options, :option, :option do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <% @basic_form.dropdowns.each do |dropdown| %>
              <div class="form-group">
                <label><%= dropdown.title %></label><br>
                <%= f.select dropdown.title, options_for_select(dropdown.dropdown_options.map{|dop| [dop.option]}), {prompt: "Select City"}, {class: "form-control"}%>
              </div>
            <% end %>

            <%= f.submit "Submit Response", class: "btn btn-success" %>
          <% end %>
          <%= link_to 'Back', @basic_form %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  label {
    font-weight: bold;
  }
</style>