<p id="notice"><%= notice %></p>

<h1>Multistep Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multistep_forms.each do |multistep_form| %>
      <tr>
        <td><%= multistep_form.name %></td>
        <td><%= multistep_form.description %></td>
        <td><%= link_to 'Show', multistep_form %></td>
        <td><%= link_to 'Edit', edit_multistep_form_path(multistep_form) %></td>
        <td><%= link_to 'Destroy', multistep_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multistep Form', new_multistep_form_path %>
