<div class="nested-fields">
  <div class="jumbotron">  
    <div class="row mt-1 mb-1">
      <div class="col-md-12">
        <%= f.text_field :question, class: "form-control" %>
      </div>
    </div>
    <div id="mcq">
      <%= f.fields_for :checkbox_options do |checkbox_option| %>
        <%= render 'checkbox_option_fields', f: checkbox_option %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Options', f, :checkbox_options %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.check_box :is_required %>
        <%= f.label :is_required %>
      </div>
      <div class="col-md-6">
        <%= link_to_remove_association "Remove", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>